<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZREQ58DTSC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-ZREQ58DTSC');
    </script>

    <%- include("partials/head") %>
</head>

<body onselectstart="return false" oncut="return false" oncopy="return false" onpaste="return false"
    ondrag="return false" ondrop="return false">
    <%- include("partials/navbar") %>

        <section class="cntp2 mtp">
            <div class="info glass fade-scroll-slid shadow-lg">
                <div class="textinfo">
                    <h3 class="fade-scroll text-center">¿Quiénes somos?</h3>
                    <p class="fade-scroll textjustify">Somos una empresa de sector privado dedicado al cuidado de la
                        salud. Tratamientos médico-estéticos de mínima invasión, especialidades odontológicas,
                        psicología, ginecología y fisioterapia son las áreas que abarca nuestro equipo de profesionales,
                        una excelente atención, espacios adecuados y una preparación de la más alta calidad a
                        disposición de nuestros clientes, Coffee & Medical Care, cuidado de la salud en todas sus formas
                        al alcance de ti.</p>
                </div>
                <div class="imginfo fade-scroll">
                    <img src="img/profiles/C&MC_EquipodeTrabajo.png" alt="C&MC_Personal de la clinica">
                </div>
            </div>

            <div class="infocnt">
                <div class="cinfo glass fade-scroll-slid shadow-lg">
                    <h3 class="fade-scroll">Misión</h3>
                    <p class="fade-scroll">Contribuir con la salud y bienestar de las personas, brindando servicios de
                        la mejor calidad, en espacios especialmente adecuados para la atención al cliente, eliminando
                        las barreras entre una buena salud, la imagen que siempre has soñado y sin afectar tu bolsillo.
                    </p>
                </div>
                <div class="cinfo glass fade-scroll-slid shadow-lg">
                    <h3 class="fade-scroll">Visión</h3>
                    <p class="fade-scroll">
                        Ser reconocidos por la calidad en el servicio, expandir el área de operaciones al igual que el
                        número de servicios, aumentando el conocimiento del personal y dando las oportunidades a los
                        clientes de conseguir su salud y bienestar
                    </p>
                </div>
            </div>

            <div class="info glass fade-scroll-slid shadow-lg">
                <div class="imginfo fade-scroll p-3">
                    <img src="img/C&MC_Logo.png" alt="C&MC_Logo">
                </div>
                <div class="textinfo">
                    <h3 class="fade-scroll text-center">Valores</h3>
                    <p class="fade-scroll textjustify">Respeto: Tratar a todos los integrantes de nuestra diversa
                        comunidad, incluso pacientes, familiares y colegas, con dignidad.
                    </p>
                    <p class="fade-scroll textjustify">Integridad: Adherir a los más altos principios de
                        profesionalismo, ética y responsabilidad personal, dignos de la confianza que nuestros pacientes
                        depositan en nosotros.</p>
                    <p class="fade-scroll textjustify">Innovación: Infundir y energizar a la organización, optimizando
                        las vidas de aquellos a quienes atendemos, mediante las ideas creativas y los talentos únicos de
                        cada empleado.</p>
                    <p class="fade-scroll textjustify">Excelencia: Ofrecer los mejores resultados y un servicio de mayor
                        calidad a través del esfuerzo esmerado de cada integrante del equipo.</p>
                </div>
            </div>
        </section>

        <section class="cntp2">
            <h3 class="fade-scroll">Nuestros profesionales</h3>

            <div class="slid fade-scroll-slid p-5 swiper swpprof">
                <div class="swiper-wrapper">

                    <div class="crd glass shadow-lg swiper-slide">
                        <div class="imgbx glass shadow-lg">
                            <img class="fade-scroll" src="img/profiles/C&MC_EvaMagnolia.png"
                                alt="C&MC_Dra Eva Magnolia">
                        </div>
                        <div class="content">
                            <div class="desc">
                                <h4 class="fade-scroll">Eva Magnolia</h4>
                                <p class="fade-scroll">Médico cirujano dentista / medicina estética y longevidad</p>
                                <div class="mdia fade-scroll">
                                    <a href="https://www.facebook.com/coffeemedical.care" target="_blank"
                                        class="btnr glass shadow-lg d-flex justify-content-center align-items-center">
                                        <i class="fab fa-facebook-square text-white"></i>
                                    </a>
                                    <a href="https://www.instagram.com/coffeemedical.care/" target="_blank"
                                        class="btnr glass shadow-lg d-flex justify-content-center align-items-center">
                                        <i class="fab fa-instagram text-white"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="crd glass shadow-lg swiper-slide">
                        <div class="imgbx glass shadow-lg">
                            <img class="fade-scroll" src="img/profiles/C&MC_RudelOliva.png" alt="C&MC_Dr Rudel Oliva">
                        </div>
                        <div class="content">
                            <div class="desc">
                                <h4 class="fade-scroll">Rudel Oliva</h4>
                                <p class="fade-scroll">Médico estético / Médico Cirujano Dentista</p>
                                <div class="mdia fade-scroll">
                                    <a href="https://www.facebook.com/coffeemedical.care" target="_blank"
                                        class="btnr glass shadow-lg d-flex justify-content-center align-items-center">
                                        <i class="fab fa-facebook-square text-white"></i>
                                    </a>
                                    <a href="https://www.instagram.com/coffeemedical.care/" target="_blank"
                                        class="btnr glass shadow-lg d-flex justify-content-center align-items-center">
                                        <i class="fab fa-instagram text-white"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="crd glass shadow-lg swiper-slide">
                        <div class="imgbx glass shadow-lg">
                            <img class="fade-scroll" src="img/profiles/C&MC_AlmaGarcia.png" alt="C&MC_Alma Garcia">
                        </div>
                        <div class="content">
                            <div class="desc">
                                <h4 class="fade-scroll">Alma García</h4>
                                <p class="fade-scroll">Asistente y Recepcionista</p>
                                <div class="mdia fade-scroll">
                                    <a href="https://www.facebook.com/coffeemedical.care" target="_blank"
                                        class="btnr glass shadow-lg d-flex justify-content-center align-items-center">
                                        <i class="fab fa-facebook-square text-white"></i>
                                    </a>
                                    <a href="https://www.instagram.com/coffeemedical.care/" target="_blank"
                                        class="btnr glass shadow-lg d-flex justify-content-center align-items-center">
                                        <i class="fab fa-instagram text-white"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="crd glass shadow-lg swiper-slide">
                        <div class="imgbx glass shadow-lg">
                            <img class="fade-scroll" src="img/profiles/C&MC_DoraGonzalez.png" alt="C&MC_Dora Gonzales">
                        </div>
                        <div class="content">
                            <div class="desc">
                                <h4 class="fade-scroll">Dora González </h4>
                                <p class="fade-scroll">Asistente y Recepcinista</p>
                                <div class="mdia fade-scroll">
                                    <a href="https://www.facebook.com/coffeemedical.care" target="_blank"
                                        class="btnr glass shadow-lg d-flex justify-content-center align-items-center">
                                        <i class="fab fa-facebook-square text-white"></i>
                                    </a>
                                    <a href="https://www.instagram.com/coffeemedical.care/" target="_blank"
                                        class="btnr glass shadow-lg d-flex justify-content-center align-items-center">
                                        <i class="fab fa-instagram text-white"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="crd glass shadow-lg swiper-slide">
                        <div class="imgbx glass shadow-lg">
                            <img class="fade-scroll" src="img/profiles/C&MC_FabianDublan.png" alt="C&MC_Fabian Duran">
                        </div>
                        <div class="content">
                            <div class="desc">
                                <h4 class="fade-scroll">Fabian Dublan</h4>
                                <p class="fade-scroll">Lic. Enfermería y obstetricia / Medicina Estética y
                                    antienvejecimiento</p>
                                <div class="mdia fade-scroll">
                                    <a href="https://www.facebook.com/coffeemedical.care" target="_blank"
                                        class="btnr glass shadow-lg d-flex justify-content-center align-items-center">
                                        <i class="fab fa-facebook-square text-white"></i>
                                    </a>
                                    <a href="https://www.instagram.com/coffeemedical.care/" target="_blank"
                                        class="btnr glass shadow-lg d-flex justify-content-center align-items-center">
                                        <i class="fab fa-instagram text-white"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="crd glass shadow-lg swiper-slide">
                        <div class="imgbx glass shadow-lg">
                            <img class="fade-scroll" src="img/profiles/C&MC_IzelOliva.png" alt="C&MC_Izel Oliva">
                        </div>
                        <div class="content">
                            <div class="desc">
                                <h4 class="fade-scroll">Izel Oliva</h4>
                                <p class="fade-scroll">Cosmiatra internacional Jr</p>
                                <div class="mdia fade-scroll">
                                    <a href="https://www.facebook.com/coffeemedical.care" target="_blank"
                                        class="btnr glass shadow-lg d-flex justify-content-center align-items-center">
                                        <i class="fab fa-facebook-square text-white"></i>
                                    </a>
                                    <a href="https://www.instagram.com/coffeemedical.care/" target="_blank"
                                        class="btnr glass shadow-lg d-flex justify-content-center align-items-center">
                                        <i class="fab fa-instagram text-white"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="crd glass shadow-lg swiper-slide">
                        <div class="imgbx glass shadow-lg">
                            <img class="fade-scroll" src="img/profiles/C&MC_JordanSandoval.png"
                                alt="C&MC_Jordan Sandoval">
                        </div>
                        <div class="content">
                            <div class="desc">
                                <h4 class="fade-scroll">Jordan Sandoval</h4>
                                <p class="fade-scroll">Psicólogo clínico</p>
                                <div class="mdia fade-scroll">
                                    <a href="https://www.facebook.com/coffeemedical.care" target="_blank"
                                        class="btnr glass shadow-lg d-flex justify-content-center align-items-center">
                                        <i class="fab fa-facebook-square text-white"></i>
                                    </a>
                                    <a href="https://www.instagram.com/coffeemedical.care/" target="_blank"
                                        class="btnr glass shadow-lg d-flex justify-content-center align-items-center">
                                        <i class="fab fa-instagram text-white"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="crd glass shadow-lg swiper-slide">
                        <div class="imgbx glass shadow-lg">
                            <img class="fade-scroll" src="img/profiles/C&MC_KarenEscalera.png"
                                alt="C&MC_Karen Escalera">
                        </div>
                        <div class="content">
                            <div class="desc">
                                <h4 class="fade-scroll">Karen Escalera</h4>
                                <p class="fade-scroll">Asistente y recepcionista</p>
                                <div class="mdia fade-scroll">
                                    <a href="https://www.facebook.com/coffeemedical.care" target="_blank"
                                        class="btnr glass shadow-lg d-flex justify-content-center align-items-center">
                                        <i class="fab fa-facebook-square text-white"></i>
                                    </a>
                                    <a href="https://www.instagram.com/coffeemedical.care/" target="_blank"
                                        class="btnr glass shadow-lg d-flex justify-content-center align-items-center">
                                        <i class="fab fa-instagram text-white"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="crd glass shadow-lg swiper-slide">
                        <div class="imgbx glass shadow-lg">
                            <img class="fade-scroll" src="img/profiles/C&MC_MarianaMuñoz.png" alt="C&MC_Mariana Muñoz">
                        </div>
                        <div class="content">
                            <div class="desc">
                                <h4 class="fade-scroll">Mariana Muñoz</h4>
                                <p class="fade-scroll">Odontopedíatra</p>
                                <div class="mdia fade-scroll">
                                    <a href="https://www.facebook.com/coffeemedical.care" target="_blank"
                                        class="btnr glass shadow-lg d-flex justify-content-center align-items-center">
                                        <i class="fab fa-facebook-square text-white"></i>
                                    </a>
                                    <a href="https://www.instagram.com/coffeemedical.care/" target="_blank"
                                        class="btnr glass shadow-lg d-flex justify-content-center align-items-center">
                                        <i class="fab fa-instagram text-white"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="crd glass shadow-lg swiper-slide">
                        <div class="imgbx glass shadow-lg">
                            <img class="fade-scroll" src="img/profiles/C&MC_PabloMoreno.png" alt="C&MC_Pablo Moreno">
                        </div>
                        <div class="content">
                            <div class="desc">
                                <h4 class="fade-scroll">Pablo Moreno</h4>
                                <p class="fade-scroll">Médico Cirujano / Dentista</p>
                                <div class="mdia fade-scroll">
                                    <a href="https://www.facebook.com/coffeemedical.care" target="_blank"
                                        class="btnr glass shadow-lg d-flex justify-content-center align-items-center">
                                        <i class="fab fa-facebook-square text-white"></i>
                                    </a>
                                    <a href="https://www.instagram.com/coffeemedical.care/" target="_blank"
                                        class="btnr glass shadow-lg d-flex justify-content-center align-items-center">
                                        <i class="fab fa-instagram text-white"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="crd glass shadow-lg swiper-slide">
                        <div class="imgbx glass shadow-lg">
                            <img class="fade-scroll" src="img/profiles/C&MC_PamelaOrozco.png" alt="C&MC_Pamela Orozco">
                        </div>
                        <div class="content">
                            <div class="desc">
                                <h4 class="fade-scroll">Pamela Orozco</h4>
                                <p class="fade-scroll">Administradora general</p>
                                <div class="mdia fade-scroll">
                                    <a href="https://www.facebook.com/coffeemedical.care" target="_blank"
                                        class="btnr glass shadow-lg d-flex justify-content-center align-items-center">
                                        <i class="fab fa-facebook-square text-white"></i>
                                    </a>
                                    <a href="https://www.instagram.com/coffeemedical.care/" target="_blank"
                                        class="btnr glass shadow-lg d-flex justify-content-center align-items-center">
                                        <i class="fab fa-instagram text-white"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="cntp2">
            <h3 class="fade-scroll">Destacados</h3>

            <div class="slid2 fade-scroll-slid p-5 swiper swprest">
                <div class="swiper-wrapper">

                    <div class="crd2 glass shadow-lg swiper-slide">
                        <div class="imgbx2 glass shadow-lg">
                            <img class="fade-scroll" src="img/highlights/C&MC_Canción.png" alt="C&MC_Canción">
                        </div>
                        <div class="desc2">
                            <h4 class="fade-scroll">Sinarquista - Rudel O</h4>
                        </div>
                    </div>

                    <div class="crd2 glass shadow-lg swiper-slide">
                        <div class="imgbx2 glass shadow-lg">
                            <img class="fade-scroll" src="img/highlights/C&MC_Libro.png" alt="C&MC_Libro">
                        </div>
                        <div class="desc2">
                            <h4 class="fade-scroll">Sinarquista - Rudel O</h4>
                        </div>
                    </div>

                    <div class="crd2 glass shadow-lg swiper-slide">
                        <div class="imgbx2 glass shadow-lg">
                            <img class="fade-scroll" src="img/highlights/C&MC_MedicalBiker.png" alt="C&MC_MedicalBiker">
                        </div>
                        <div class="desc2">
                            <h4 class="fade-scroll">Medical Biker</h4>
                        </div>
                    </div>

                    <div class="crd2 glass shadow-lg swiper-slide">
                        <div class="imgbx2 glass shadow-lg">
                            <img class="fade-scroll" src="img/highlights/C&MC_Nota.png" alt="C&MC_Nota">
                        </div>
                        <div class="desc2">
                            <h4 class="fade-scroll">Presume su barrio</h4>
                        </div>
                    </div>

                    <div class="crd2 glass shadow-lg swiper-slide">
                        <div class="imgbx2 glass shadow-lg">
                            <img class="fade-scroll" src="img/highlights/C&MC_Premio.png" alt="C&MC_Premio">
                        </div>
                        <div class="desc2">
                            <h4 class="fade-scroll">Reconocimiento</h4>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <%- include("partials/footer") %>
</body>

</html>