<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZREQ58DTSC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-ZREQ58DTSC');
    </script>
    <%- include("partials/head") %>
</head>

<body onselectstart="return false" oncut="return false" oncopy="return false" onpaste="return false"
    ondrag="return false" ondrop="return false">
    <%- include("partials/navbar") %>

        <section class="cntp2 mtp">

            <div class="info glass fade-scroll-slid shadow-lg m-3">
                <h3 class="fade-scroll text-center ttlc">Tratamientos médico-estéticos</h3>
                <div class="textinfo m-auto">
                    <p class="fade-scroll textjustify">Los tratamientos de medicina estética se adaptan al grado de
                        envejecimiento de cada persona. Para conseguir resultados óptimos se plantea un plan de
                        tratamiento según la edad, el estado y la necesidad de cada piel y se combinan tratamientos
                        estéticos y de medicina para corregir los procesos de envejecimiento.</p>
                </div>
                <div class="imginfo fade-scroll">
                    <img src="img/services/C&MC_MedicinaEstetica.jpg" alt="C&MC_Medicina Estetica">
                </div>
            </div>

            <div class="info glass fade-scroll-slid shadow-lg m-3">
                <h3 class="fade-scroll text-center ttlc">Servicios de odontología</h3>
                <div class="imginfo fade-scroll">
                    <img src="img/services/C&MC_Odontologia.jpg" alt="C&MC_Odontologia">
                </div>
                <div class="textinfo m-auto">
                    <p class="fade-scroll textjustify">La Odontología es el área médica dedicada al estudio de los
                        dientes y las estructuras anejas, por lo que se plantean tratamientos para las enfermedades que
                        afectan a la salud bucal, procedimientos correctivos y preventivos.</p>
                </div>
            </div>

            <div class="info glass fade-scroll-slid shadow-lg m-3">
                <h3 class="fade-scroll text-center ttlc">Psicología</h3>
                <div class="textinfo m-auto">
                    <p class="fade-scroll textjustify">El objetivo principal de este servicio es el bienestar emocional,
                        personal y social del usuario, para mejorar su calidad de vida y su inclusión social, a través
                        de la evaluación, orientación y en su caso, intervención o derivación. Este objetivo se lleva a
                        cabo a través del trabajo con el usuario, familias, profesionales y otros agentes.</p>
                </div>
                <div class="imginfo fade-scroll">
                    <img src="img/services/C&MC_Psicologia.jpg" alt="C&MC_Psicologia">
                </div>
            </div>

            <div class="info glass fade-scroll-slid shadow-lg m-3">
                <h3 class="fade-scroll text-center ttlc">Ginecología</h3>
                <div class="imginfo fade-scroll">
                    <img src="img/services/C&MC_Ginecologia.jpg" alt="C&MC_Ginecologia">
                </div>
                <div class="textinfo m-auto">
                    <p class="fade-scroll textjustify">La Ginecología y Obstetricia nace como una especialidad que se
                        dedica al cuidado de la salud de los órganos reproductores femeninos y al manejo de las
                        complicaciones obstétricas, incluso a través de intervenciones quirúrgicas.</p>
                </div>
            </div>

            <div class="info glass fade-scroll-slid shadow-lg m-3">
                <h3 class="fade-scroll text-center ttlc">Fisioterapia</h3>
                <div class="textinfo m-auto">
                    <p class="fade-scroll textjustify">La Fisioterapia es el conjunto de métodos, actuaciones y técnicas
                        que, mediante la aplicación de medios físicos, curan previenen, recuperan y adaptan a personas
                        afectadas de disfunciones somáticas o a las que se desea mantener en un nivel adecuado de salud.
                    </p>
                </div>
                <div class="imginfo fade-scroll">
                    <img src="img/services/C&MC_Fisioterapia.jpg" alt="C&MC_Fisioterapia">
                </div>
            </div>

        </section>

        <%- include("partials/footer") %>
</body>

</html>