<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<link rel="icon" type="image/x-icon" href="img/C&MC_Favicon.png">


<title>Coffee & Medical Care</title>

<meta name="description"
  content="Tratamientos médico-estéticos de mínima invasión, Especialidades Odontológicas, Psicología, Ginecología y Fisioterapia. El cuidado para tu salud en todas sus formas.">
<meta name="keywords"
  content="tratamientos médicos, tratamientos médico-estéticos, tratamientos estéticos, odontológica, psicología, ginecología, fisioterapia, tratamiento dental, salud, salud mental, psicólogo, fisioterapeuta, ginecólogo, obstetricia, blanqueamiento dental, psicóloga, tratamiento, psicoterapia, autocuidado, implantes dentales, psicología social, clínica, salud integral, hábitos de higiene, obstetra, limpieza dental, terapia de pareja, día mundial de la salud, la salud, ginecóloga, mi salud">
<meta name="author" content="Dream Followers">
<meta name="copyright" content="Coffee & Medical Care" />

<!-- Font Awesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
<!-- MDB -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.css" rel="stylesheet" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

<link rel="stylesheet" href="css/dycalendar.css">

<!-- Custom -->
<link rel="stylesheet" href="css/partial.css">